/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
  margin: 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

/* main img {
  width: 100px;
} */

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  /* margin: 10px; */
}

.item-double {
  flex: 2;
}



/* -------  Navigation ------- */

header {
 
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
  
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #ecdbc9;
}

/* style the container for the navigation*/
header nav {
  display: flex;
  justify-content: center;
}

 /* Style the unordered list*/
 header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

/* Style the anchor tags of the list items*/
header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

/* Style the last list items anchor*/
header nav ul li:last-child a {
  margin-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */

#join .item {
  display:flex;
 align-items:  center;
}

#join .item div {
  width: 100%;
}

#join img {
  width: 100%;
}

form {
  border: 2px solid #6b1a22;
  padding: 10px;
  text-align: left;
 
  
}

form label {
  font-weight: bold;
  text-align: left;
  font-size: 12px;
}

form select,
form input {
  display: flex;
  margin-bottom: 20px;
 max-width: 70%;
 min-width: 50px;
 width:auto;
  

}
form select {
width: 70%;
}


form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
.form-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}



/* about */
#about img {
  width: 100%;
 
}



/* download */
#download img {
  width: 100%;
}
/* blog */
#blog img {
  width: 100%;
 
}


/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
 /* Add a media query for desktop*/
 @media all and (min-width: 900px) {
  form select {
    width: auto;
    min-width: 180px;
  }
 }




   @media all and (min-width: 480px) {
    .logo {
      font-size: 36px;
    }
    header {
      display: flex;
      justify-content: space-between;
      /* padding: 0 30px; */
    }
  
    header h1 {
      margin: 14px 0;
      padding-top: 0;
      font-size: 48px;
    }
  
    header nav {
      margin-top: 8px;
    }
    header nav ul li a:hover {
      color: #bdbdbd;
    }

    /* form select {
      width: auto;
    } */

    .group {
      display: flex;
      flex-direction: row;
    }
   
    .item-double {
      flex: 2;
      margin: 10px;
    }
    
    .item-triple {
      flex: 3;
    }

    #about .item {
      margin-right: 20px;
    }

    #blog .item {
      margin:  10px;
    }

    #download .item{
      display: flex;
      align-items: center;
    }
  }